/*
Font Fjalla One
Used for normal text
*/
@font-face 
{
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url(https://fonts.gstatic.com/s/fjallaone/v7/Yq6R-LCAWCX3-6Ky7FAFrOF6kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
Font Oswald
Used for h1 and h2
*/
@font-face 
{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v31/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*resetting margin and padding*/
*
{
  margin: 0;
  padding: 0;
}

html
{
    	height: 100%;
    	width: 100%;
    	display: table;
}

/*body*/
body
{
  background: linear-gradient(to right, rgb(40, 25, 120), rgb(37, 135, 192));
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Fjalla One';
  font-size: 20px;
  color: #d8d8d8;

  /*prevent scrolling*/
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  /*prevent copying text*/
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*headers*/
h1 
{
  font-size:2.5em;
  padding: 10px;
  text-align: center;
  font-family: Oswald;
  color: #8595C4;
  
}

h2 
{
  font-size:1.5em;
  color: #d8d8d8;
  text-align: center;
  font-family: Oswald;
}

/*open nav button*/
#openNavButton
{
  position: fixed;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  top: 0px;
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

#openNavButton:hover
{
  display: inline-block;
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.15s;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

span
{
  font-size:30px;
  cursor:pointer;
  color: #d8d8d8;
}

span:hover
{
  color: #9b9b9b;
}

p a
{
  text-decoration: none;
  color: #d8d8d8;
}

p a:hover
{
	color: #9b9b9b;
}

#pageContainer 
{
	position: relative;
  min-height: 100hv;
}

#contentWrap 
{
  background: linear-gradient(to right, rgb(62, 47, 148), rgb(45, 120, 160));
  background-size: cover;
  background-repeat: no-repeat;
  transition: margin-left 1.2s;
  margin: 40px;
  padding: 40px;
  padding-bottom: 50px;    /* Footer height */
}

#footer 
{
  animation: slideIn 2s;
  text-align: center;
  align-self: center;
  background-color: #333;
	color: #fff;
	position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; 
  line-height: 50px;
}

@keyframes slideIn
{
  from 
  {
    height: 0px;
  }
  to 
  {
    height: 50px;
  }
}

/* The side navigation menu */
#webSideNav 
{
  height: 100%; 
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #222;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
  transition: 1.2s; 
}

/*close button*/
#closeNavButton
{
  position: absolute;
  text-decoration: none;
  text-align: center;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  font-size: 42px;
  padding: 0;
  margin: 0;
  transition: 1.2s;
}

#effectButton a
{
  position: relative;
  display: inline-block;
  width: 180px;
  padding: 5px 0px 10px 10px;
  margin: 5px 0px 10px 10px;
  color: #d8d8d8;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 1.2s;
}

@keyframes opacityAnimation
{
  from 
  {
    opacity: 0;
  }
  to 
  {
    opacity: 1;
  }
}

/*hover effect*/
#hoverEffect a:hover
{
  display: inline-block;
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.1s;
}


/* On smaller screens change the style (smaller font size, line height, buttons, width...) */
/* f.ex. iPhone 5 */
@media screen and (min-width: 320px) 
{
  #openNavButton {font-size: 24px; padding: 6px; margin: 6px; width: 30px; height: 30px; top: 0px;}
  #closeNavButton {font-size: 24px; padding: 6px; margin: 6px; width: 30px; height: 30px; top: 0px;}
  body {font-size: 14px;}
  h1 {font-size: 1.6rem;}
  h2 {font-size: 1.3rem;}
  #footer {height: 25px; line-height: 25px; font-size: 12px}
  #effectButton a {font-size: 12px; width: 130px;}
}

/* f.ex. iPhone 6/7/8/X */
@media screen and (min-width: 375px) 
{
  #openNavButton {font-size: 24px; padding: 6px; margin: 6px; width: 30px; height: 30px; top: 0px;}
  #closeNavButton {font-size: 24px; padding: 6px; margin: 6px; width: 30px; height: 30px; top: 0px;}
  body {font-size: 16px;}
  h1 {font-size: 1.8rem;}
  h2 {font-size: 1.5rem;}
  #footer {height: 30px; line-height: 30px; font-size: 14px}
  #effectButton a {font-size: 16px; width: 140px;}
}

/* f.ex. iPhone 6/7/8 Plus */
@media screen and (min-width: 414px) 
{
  #openNavButton {font-size: 28px; padding: 8px; margin: 8px; width: 36px; height: 36px; top: 0px;}
  #closeNavButton {font-size: 28px; padding: 8px; margin: 8px; width: 36px; height: 36px; top: 0px;}
  body {font-size: 16px;}
  h1 {font-size: 2rem;}
  h2 {font-size: 2.8rem;}
  #footer {height: 35px; line-height: 35px; font-size: 15px}
  #effectButton a {font-size: 16px; width: 140px;}
}

/* f.ex. iPad*/
@media screen and (min-width: 768px) 
{
  #openNavButton {font-size: 40px; padding: 10px; margin: 10px; width: 45px; height: 45px; top: 0px;}
  #closeNavButton {font-size: 40px; padding: 10px; margin: 10px; width: 45px; height: 45px; top: 0px;}
  body {font-size: 22px}
  h1 {font-size: 3rem;}
  h2 {font-size: 2.5rem;}
  #footer {height: 50px; line-height: 50px; font-size: 20px}
  #effectButton a {font-size: 22px; width: 200px;}
}

/* f.ex. iPad pro*/
@media screen and (min-width: 1024px) 
{
  #openNavButton {font-size: 46px; padding: 10px; margin: 10px; width: 50px; height: 50px; top: 0px;}
  #closeNavButton {font-size: 46px; padding: 10px; margin: 10px; width: 50px; height: 50px; top: 0px;}
  body {font-size: 28px}
  h1 {font-size: 3.3rem;}
  h2 {font-size: 2.8rem;}
  #footer {height: 60px; line-height: 60px; font-size: 24px}
  #effectButton a {font-size: 24px; width: 220px;}
  #webSideNav {padding-top: 80px;}
}

/* f.ex. hd display*/
@media screen and (min-width: 1080px) 
{
  #openNavButton {font-size: 50px; padding: 10px; margin: 10px; width: 50px; height: 50px; top: 0px;}
  #closeNavButton {font-size: 50px; padding: 10px; margin: 10px; width: 50px; height: 50px; top: 0px;}
  body {font-size: 32px}
  h1 {font-size: 3.4rem;}
  h2 {font-size: 3rem;}
  #footer {height: 65px; line-height: 65px; font-size: 24px}
  #effectButton a {font-size: 24px; width: 220px;}
  #webSideNav {padding-top: 80px;}
}

/* f.ex. full hd display*/
@media screen and (min-width: 1920px) 
{
  #openNavButton {font-size: 50px; padding: 10px; margin: 10px; width: 50px; height: 50px; top: 0px;}
  #closeNavButton {font-size: 50px; padding: 10px; margin: 10px; width: 50px; height: 50px; top: 0px;}
  body {font-size: 36px}
  h1 {font-size: 3.8rem;}
  h2 {font-size: 3.5rem;}
  #footer {height: 70px; line-height: 70px; font-size: 28px}
  #effectButton a {font-size: 30px; width: 220px;}
  #webSideNav {padding-top: 100px;}
}




.wrapper {
	position: relative;
	max-width: 840px;
	width: 100%;
	padding: 0 50px;
	margin: 0 auto;
}

.shadow {
	width: 100%;
	height: 168px;
	position: relative;
	margin-top: -110px;
	background: transparent url(../images/shadow.png) no-repeat bottom center;
	background-size: 100% 100%; /* stretches it */
	z-index: -1;
	display: none;
}