html
{
    	height: 100%;
    	width: 100%;
    	display: table;
}

/*
Font Fjalla One
Used for normal text
*/
@font-face 
{
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url(https://fonts.gstatic.com/s/fjallaone/v7/Yq6R-LCAWCX3-6Ky7FAFrOF6kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
Font Oswald
Used for h1 and h2
*/
@font-face 
{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v31/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*resetting margin and padding*/
*
{
  margin: 0;
  padding: 0;
}

/*body*/
body
{
  background: linear-gradient(to left, rgb(40, 25, 180), rgb(130, 20, 120));
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Fjalla One';
  font-size: 20px;
  color: #d8d8d8;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

/*headers*/
h1 
{
  font-size:2.5em;
  padding: 10px;
  text-align: center;
  font-family: Oswald;
  color: #8595C4;
  
}

h2 
{
  font-size:1.5em;
  color: #d8d8d8;
  text-align: center;
  font-family: Oswald;
}

/*open nav button*/
#openNavButton
{
  position: absolute;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  top: 0px;
}

#openNavButton:hover
{
  animation: shake 0.5s; 
  animation-iteration-count: infinite;
  display: inline-block;
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.15s;
}

@keyframes shake 
{
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

span
{
  font-size:30px;
  cursor:pointer;
  color: #d8d8d8;
}

span:hover
{
  color: #9b9b9b;
}

p a
{
  text-decoration: none;
  color: #d8d8d8;
}

p a:hover
{
	color: #9b9b9b;
}

img
{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  filter: grayscale(30%);
}

#pageContainer 
{
	position: relative;
  min-height: 100hv;
}

#contentWrap 
{
  background: linear-gradient(to left, rgb(40, 25, 160), rgb(140, 20, 140));
  background-size: cover;
  background-repeat: no-repeat;
  transition: margin-left 1.2s;
  margin: 40px;
  padding: 40px;
  padding-bottom: 50px;    /* Footer height */
}

#footer 
{
  animation: slideIn 1s;
  text-align: center;
  align-self: center;
  background-color: #333;
	color: #fff;
	position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; 
  line-height: 50px;
}

@keyframes slideIn
{
  from 
  {
    height: 0px;
  }
  to 
  {
    height: 50px;
  }
}

/* The side navigation menu */
#webSideNav 
{
  height: 100%; 
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #222;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
  transition: 1.2s; 
}


/*close button*/
#closeNavButton
{
  display: inline-block;
  text-decoration: none;
  top: 0;
  display: block;
  right: 25px;
  height: 36px;
  font-size: 36px;
  position: absolute;
  padding: 5px 5px 10px 10px;
  margin: 5px 5px 15px 10px;
  overflow: hidden;
  text-align: center;
  transition: 1.2s;
}

#effectButton a
{
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: 15px;
  color: #d8d8d8;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 1.2s;
}

/*hover effect*/
#hoverEffect a:hover
{
  padding: 10px;
  margin: 15px;
  display: inline-block;
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.1s;
}


/* On smaller screens change the style (smaller font size line height) */
@media screen and (max-width: 900px) 
{
  #effectButton a {font-size: 80%}
  body {font-size: 80%;}
  h1 {font-size: 80%;}
  h2 {font-size: 80%;}
  #footer {height: 40px; line-height: 40px;}
}

@media screen and (max-width: 400px) 
{
  #effectButton a {font-size: 60%;}
  body {font-size: 60%;}
  h1 {font-size: 60%;}
  h2 {font-size: 60%;}
  #footer {height: 30px; line-height: 30px;}
}

@media screen and (max-height: 400px) 
{
  #effectButton a {font-size: 80%}
  body {font-size: 80%;}
  h1 {font-size: 80%;}
  h2 {font-size: 80%;}
  #footer {height: 40px; line-height: 40px;}
}

@media screen and (max-height: 100px) 
{
  #effectButton a {font-size: 60%;}
  body {font-size: 60%;}
  h1 {font-size: 60%;}
  h2 {font-size: 60%;}
  #footer {height: 30px; line-height: 30px;}
}
