html
{
    	height: 100%;
    	width: 100%;
    	display: table;
}

body
{
	background-color: #d1d1d1;
	background-size: cover;
	font-family: "Lato", sans-serif;
}

h1 
{
	color: #8595C4
}

h5 
{
	text-align: center;	
}

p a
{
	text-decoration: none;
	color: black;
}


nav ul 
{
	list-style-type: none;
}

nav li 
{
	display: inline;
	margin-right: 40px;
	background-color: #F24B24;
	padding-right: 35px;
	padding-left: 35px;
	padding-top: 3px;
	padding-bottom: 3px;	
	border: #0D93E7 3px outset;
	border-radius:5px;
	font-weight: bold;
	cursor: default;
}

nav 
{
	margin-top: 20px;
	text-align: center;
	margin-bottom: 30px;
}

nav a
{
	text-decoration:none;
	color: white;
	text-shadow: gray 0px 0px 4px;
}

nav li:hover 
{
	border: blue 3px inset;
	
}

nav a:hover 
{
	color: blue;
	text-shadow: none;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}